{{template "base" .}}

{{define "css"}}
    body {
            font-family: 'Righteous', cursive;
            background-color: #13626db3;
        }
{{end}}



{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This Is General Room Page</h1>
            </div>
        </div>
    </div>
{{end}}



{{define "js"}}

{{end}}