{{template "base" .}}

{{define "css"}}
   <style>
        body {
            font-family: 'Righteous', cursive;
            background-color: #13626db3;
        }
    </style>
{{end}}



{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-5">
                <h1>This Is About Page</h1>
            </div>
        </div>
    </div>
    <!-- Check The Availability  Button -->
    <div class="d-grid gap-2 col-3 mx-auto mt-2">
        <button class="btn btn-warning" type="button"><a href="./check.html">Check
            Availability</a>
        </button>
    </div>
{{end}}



{{define "js"}}

{{end}}